/* This CSS is just for the purpose of demo example. */

.input {
  width: 100px;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #ddd;
  height: 32px;
  background: transparent;
}

label {
  width: 100px;
  display: inline-block;
}

.btn {
  width: 100px;
  padding: 10px;
  border: none;
  box-shadow: 0 4px 6px 0 rgba(68, 68, 80, 0.15);
  text-decoration: none;
  font-size: 14px;
  background-color: #eee;
  margin: 10px 0;

  &.btn-submit {
    color: #fefefe;
    background-color: #CF3361;

    &:hover {
      background-color: darken(#CF3361, 5%);
    }
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background-color: darken(#eee, 5%);
  }
}

@media screen and (max-width: 480px) {
  .btn {
      width: 100%;
      margin: 10px 0;
  }
}