.c-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 1;
  height: 0;
  pointer-events: all;
}

.c-handle {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: white;
  background: linear-gradient(45deg, white 70%, darken(white, 5%));
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  z-index: 2;

  &:active {
    cursor: move;
    background: linear-gradient(45deg, darken(white, 5%) 70%, darken(white, 10%));
    outline: none;
  }
}
