body {
  width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

#slider-container {
  position: relative;
  width: 300px;
  height: 300px;
  background: #eee;
  float: left;
  margin: 10px 0;

  //transform: rotate(-90deg);
}

#expenses {
  float: left;
  margin: 10px;
}

.expense {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.expense-name,
.expense-value {
  display: inline-block;
  min-width: 50px;
  margin: 0 10px;
}

.expense-value::before {
  content: '$'
}

.expense-color {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 10px;
}

@import 'forms';